
@model Lemon_Bar.Models.Item

@{
    ViewData["Title"] = "Details";
    string url = $"https://www.thecocktaildb.com/images/ingredients/{Model.ItemName}-Medium.png";
}
<html>
<body>
    <style>
        body {
            background-image: url("@url");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: 40% 40%;
        }
    </style>
    <h1>Details</h1>

    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Item name:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ItemName)
            </dd>
            <dt class="col-sm-2">
                Total cost:
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(model => model.TotalCost)
            </dd>
            <dt class="col-sm-2">
                Quantity:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                Units:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Units)
            </dd>
            <dt class="col-sm-2">
                Unit cost:
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(model => model.UnitCost)
            </dd>
        </dl>
    </div>
    @{ if (Model.Garnish)
        {

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Garnish)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Garnish)
            </dd>
        }
    }

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Add More</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>