@model IEnumerable<Lemon_Bar.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1><b>Current Inventory List</b></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">*@
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Units)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garnish)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UserNavigation)
            </th>*@
            <th>***   Actions   ***</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Garnish)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.UserNavigation.Id)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Add More</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
