@model Drink

<h2>@Model.strDrink</h2>

@{List<string> ing = new List<string>();
    ing.Add(Model.strIngredient1);
    ing.Add(Model.strIngredient2);
    ing.Add(Model.strIngredient3);
    ing.Add(Model.strIngredient4);
    ing.Add(Model.strIngredient5);
    ing.Add(Model.strIngredient6);
    //if (Model.strIngredient7 != null) { ing.Add(Model[0].strIngredient7.ToString()); }
    //if (Model[0].strIngredient8 != null) { ing.Add(Model[0].strIngredient8.ToString()); }
    //if (Model[0].strIngredient9 != null) { ing.Add(Model[0].strIngredient9.ToString()); }
    //if (Model[0].strIngredient10 != null) { ing.Add(Model[0].strIngredient10.ToString()); }
    //if (Model[0].strIngredient11 != null) { ing.Add(Model[0].strIngredient11.ToString()); }
    //if (Model[0].strIngredient12 != null) { ing.Add(Model[0].strIngredient12.ToString()); }
    //if (Model[0].strIngredient13 != null) { ing.Add(Model[0].strIngredient13.ToString()); }
    //if (Model[0].strIngredient14 != null) { ing.Add(Model[0].strIngredient14.ToString()); }
    //if (Model[0].strIngredient15 != null) { ing.Add(Model[0].strIngredient15.ToString()); }
}

@{List<string> mea = new List<string>();
    mea.Add(Model.strMeasure1);
    mea.Add(Model.strMeasure2);
    mea.Add(Model.strMeasure3);
    mea.Add(Model.strMeasure4);
    mea.Add(Model.strMeasure5);
    mea.Add(Model.strMeasure6);
    //if (Model[0].strMeasure7 != null) { mea.Add(Model[0].strMeasure7.ToString()); }
    //if (Model[0].strMeasure8 != null) { mea.Add(Model[0].strMeasure8.ToString()); }
    //if (Model[0].strMeasure9 != null) { mea.Add(Model[0].strMeasure9.ToString()); }
    //if (Model[0].strMeasure10 != null) { mea.Add(Model[0].strMeasure10.ToString()); }
    //if (Model[0].strMeasure11 != null) { mea.Add(Model[0].strMeasure11.ToString()); }
    //if (Model[0].strMeasure12 != null) { mea.Add(Model[0].strMeasure12.ToString()); }
    //if (Model[0].strMeasure13 != null) { mea.Add(Model[0].strMeasure13.ToString()); }
    //if (Model[0].strMeasure14 != null) { mea.Add(Model[0].strMeasure14.ToString()); }
    //if (Model[0].strMeasure15 != null) { mea.Add(Model[0].strMeasure15.ToString()); }
}

<h3>Ingredients:</h3>
<ul>
    @{ int index = 0;
        foreach (string i in ing)
        {
            if (i != null)
            {
                <li>@i: @mea[index]</li>
                index++;
            }

        }
    }
</ul>

<p>@Model.strInstructions</p>

<img src="@Model.strDrinkThumb" alt="@Model.strImageAttribution" style="height: 250px; width:auto" />

@{string url = @Model.strVideo;
    if (url != null)
    {
        string URL = url.Replace("watch?v=", "embed/");
        <iframe width="560" height="315" src=@URL frameborder="0" allowfullscreen></iframe>
    }
}

<a asp-action="Create" asp-controller="DrinkSales" asp-route-id="@Model.idDrink">Make Drink!</a>