@model Drink

<h2>@Model.strDrink</h2>

<h3>Ingredients:</h3>
<ul>
    <li>@Model.strIngredient1</li>
    <li>@Model.strIngredient2</li>
    <li>@Model.strIngredient3</li>
    <li>@Model.strIngredient4</li>
</ul>

