@model Lemon_Bar.Models.DrinkSale

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DrinkSale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
