@model IEnumerable<Lemon_Bar.Models.DrinkSale>

@{
    ViewData["Title"] = "Drink Sales";
}
<html>
<body>
    <h1>Drink Sales</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Drink ID
                </th>
                <th>
                    Cost of Ingredients
                </th>
                <th>
                    Sale Price
                </th>
                <th>
                    Date and Time of Sale (UTC)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="DrinkDetails" asp-controller="Home" asp-route-id=@item.DrinkId>@item.DrinkId</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SaleDate)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
